Repository Autodesk/arnold-usd, pull requests merged in 2020-04, with the labels that each got.

#323 Support writing closure attributes to USD
  translator/writer/prim_writer.cpp
Labels: bug, writer

#326 Write curves num points as a int-array
  translator/writer/write_geometry.cpp
Labels: bug, writer

#321 Translate the options node properly
  translator/reader/prim_reader.cpp
  translator/reader/utils.cpp
  translator/reader/utils.h
  translator/writer/registry.cpp
  translator/writer/write_options.cpp
  translator/writer/write_options.h
Labels: bug, procedural, writer

#327 Read RGB arrays
  testsuite/test_0041/README
  testsuite/test_0041/data/scene.usda
  testsuite/test_0041/data/test.ass
  testsuite/test_0041/ref/reference.log
  testsuite/test_0041/ref/reference.tif
  translator/reader/prim_reader.cpp
  translator/reader/utils.h
Labels: bug, procedural

#330 Adding new options writer files to cmake
  translator/CMakeLists.txt
Labels: bug, build

#331 Adding support for spot and IES shaping parameters on sphere lights.
  render_delegate/constant_strings.h
  render_delegate/light.cpp
  render_delegate/render_delegate.cpp
Labels: enhancement, render delegate

#335 Fixes in exportStringArray function
  translator/reader/utils.cpp
Labels: bug, procedural

#339 Temporarily disable test_0040
  testsuite/groups
Labels: bug, writer

#343 Don't crash when trying to write pointer attributes
  translator/writer/prim_writer.cpp
Labels: bug, crash, writer

#341 Support shader connections to skydome and quad light's color
  testsuite/test_0003/data/sphere.usd
  testsuite/test_0003/ref/reference.log
  testsuite/test_0003/ref/reference.tif
  testsuite/test_0005/data/sphere.usd
  testsuite/test_0042/README
  testsuite/test_0042/data/sphere.usd
  testsuite/test_0042/data/test.ass
  testsuite/test_0042/ref/reference.log
  testsuite/test_0042/ref/reference.tif
  translator/reader/read_light.cpp
Labels: bug, procedural

#347 Support motion blur in the scene format loader
  translator/reader/reader.cpp
  translator/reader/utils.cpp
Labels: bug, procedural

#348 Support motion keys in the USD writer
  translator/reader/utils.h
  translator/writer/prim_writer.cpp
Labels: bug, writer

#350 Adding support for barndoor parameters on the spotlight.
  render_delegate/constant_strings.h
  render_delegate/light.cpp
Labels: enhancement, render delegate

#352 Write per-channel connections by inserting adapter shaders
  translator/writer/prim_writer.cpp
Labels: enhancement, writer

#353 Always write polymesh.subdiv_iterations
  translator/writer/write_geometry.cpp
Labels: bug, writer

#355 Read motion on custom matrix attributes
  testsuite/test_0043/README
  testsuite/test_0043/data/proc.usd
  testsuite/test_0043/data/sphere.usd
  testsuite/test_0043/data/test.ass
  testsuite/test_0043/ref/reference.log
  testsuite/test_0043/ref/reference.tif
  translator/reader/prim_reader.cpp
  translator/reader/utils.h
Labels: bug, procedural

#358 Refactor the primvars reading code
  testsuite/test_0046/README
  testsuite/test_0046/data/scene.usda
  testsuite/test_0046/data/test.ass
  testsuite/test_0046/ref/reference.log
  testsuite/test_0046/ref/reference.tif
  translator/reader/prim_reader.cpp
  translator/reader/prim_reader.h
  translator/reader/read_arnold_type.cpp
  translator/reader/read_geometry.cpp
  translator/reader/read_light.cpp
  translator/reader/read_shader.cpp
  translator/reader/utils.cpp
  translator/reader/utils.h
Labels: bug, procedural

#359 Write motion keys in mesh normals list
  translator/writer/write_geometry.cpp
Labels: bug, writer

#361 Fix crash in the writer with empty arrays
  translator/writer/prim_writer.cpp
Labels: bug, crash, writer

#363 Improve how ginstance attributes are written
  translator/writer/registry.cpp
  translator/writer/write_arnold_type.cpp
  translator/writer/write_arnold_type.h
Labels: bug, writer

#366 Support textured mesh lights
  translator/reader/read_light.cpp
Labels: bug, procedural

#367 Read Lights color / intensity attributes properly
  testsuite/test_0042/ref/reference.log
  testsuite/test_0042/ref/reference.tif
  testsuite/test_0047/README
  testsuite/test_0047/data/scene.usda
  testsuite/test_0047/data/test.ass
  testsuite/test_0047/ref/reference.log
  testsuite/test_0047/ref/reference.tif
  translator/reader/read_light.cpp
Labels: bug, procedural

#369 Ensure motion range is written properly
  translator/writer/prim_writer.cpp
  translator/writer/prim_writer.h
  translator/writer/write_geometry.cpp
  translator/writer/writer.cpp
  translator/writer/writer.h
Labels: bug, writer

#371 Write connections for user-data of type NODE
  translator/reader/prim_reader.cpp
  translator/writer/prim_writer.cpp
Labels: bug, writer

#373 Updating the render delegate and the ndr plugin to follow the coding conventions.
  docs/conventions.md
  ndr/parser.cpp
  ndr/parser.h
  render_delegate/config.h
  render_delegate/constant_strings.h
  render_delegate/material.cpp
  render_delegate/mesh.cpp
  render_delegate/render_buffer.cpp
  render_delegate/utils.cpp
  render_delegate/volume.cpp
Labels: enhancement

#376 Updating the translator, procedural and the cmd code to following coding guidelines
  cmd/main.cpp
  procedural/main.cpp
  testsuite/test_0045/data/test.cpp
  translator/reader/prim_reader.cpp
  translator/reader/prim_reader.h
  translator/reader/read_arnold_type.cpp
  translator/reader/read_arnold_type.h
  translator/reader/read_geometry.cpp
  translator/reader/read_light.cpp
  translator/reader/read_shader.cpp
  translator/reader/reader.cpp
  translator/reader/reader.h
  translator/reader/registry.cpp
  translator/reader/registry.h
  translator/reader/utils.cpp
  translator/reader/utils.h
  translator/utils/utils.h
  translator/writer/prim_writer.cpp
  translator/writer/prim_writer.h
  translator/writer/registry.cpp
  translator/writer/registry.h
  translator/writer/write_arnold_type.cpp
  translator/writer/write_arnold_type.h
  translator/writer/write_geometry.cpp
  translator/writer/write_light.cpp
  translator/writer/write_options.cpp
  translator/writer/write_shader.cpp
  translator/writer/write_shader.h
  translator/writer/writer.cpp
  translator/writer/writer.h
Labels: enhancement

#379 Do not validate the google test include and library directories
  SConstruct
Labels: bug, build

#381 Support links to array attribute elements
  testsuite/test_0048/README
  testsuite/test_0048/data/scene.usda
  testsuite/test_0048/data/test.ass
  testsuite/test_0048/ref/reference.log
  testsuite/test_0048/ref/reference.tif
  translator/reader/prim_reader.cpp
  translator/reader/prim_reader.h
  translator/writer/prim_writer.cpp
Labels: bug, procedural, writer

#377 Add a writer for toon shader
  translator/writer/registry.cpp
  translator/writer/write_shader.cpp
  translator/writer/write_shader.h
Labels: bug, writer

#383 Load namespaced primvars
  translator/reader/prim_reader.cpp
Labels: bug, procedural

#384 Prevent crashes when writing nodes with empty names
  translator/writer/prim_writer.cpp
  translator/writer/writer.cpp
Labels: bug, writer

#386 Setting background pixel depth to 1 instead of 1 - AI_EPSILON.
  render_delegate/nodes/driver.cpp
Labels: bug, houdini, render delegate

#388 Support UsdGeomCamera in the translator
  translator/CMakeLists.txt
  translator/reader/read_camera.cpp
  translator/reader/read_camera.h
  translator/reader/read_geometry.cpp
  translator/reader/reader.cpp
  translator/reader/registry.cpp
  translator/writer/prim_writer.cpp
  translator/writer/registry.cpp
  translator/writer/write_camera.cpp
  translator/writer/write_camera.h
  translator/writer/write_shader.cpp
  translator/writer/write_shader.h
  translator/writer/writer.cpp
Labels: enhancement, procedural, writer

#390 Rename function names in the reader
  testsuite/test_0049/README
  testsuite/test_0049/data/scene.usda
  testsuite/test_0049/data/test.ass
  testsuite/test_0049/ref/reference.log
  testsuite/test_0049/ref/reference.tif
  translator/reader/prim_reader.cpp
  translator/reader/prim_reader.h
  translator/reader/read_arnold_type.cpp
  translator/reader/read_camera.cpp
  translator/reader/read_geometry.cpp
  translator/reader/read_light.cpp
  translator/reader/read_shader.cpp
  translator/reader/reader.cpp
  translator/reader/utils.cpp
  translator/reader/utils.h
Labels: enhancement, procedural

#391 Adding release notes for 6.0.3.0.
  CHANGELOG.md
Labels: docs

#392 Support tests for the scene format plugin
  README.md
  testsuite/test_0034/README
  testsuite/test_0050/README
  testsuite/test_0050/data/test.usda
  testsuite/test_0050/ref/reference.log
  testsuite/test_0050/ref/reference.tif
  testsuite/test_0051/README
  testsuite/test_0051/data/test.ass
  testsuite/test_0051/ref/reference.log
  testsuite/test_0051/ref/reference.tif
  tools/utils/regression_test.py
Labels: enhancement, scene format

#395 Not unlocking the render buffer in Unmap when the buffer is empty.
  render_delegate/render_buffer.cpp
Labels: crash, houdini, render delegate

#399 Check for long long type in _CheckForBoolValue (#398)
  render_delegate/render_delegate.cpp
Labels: render delegate

#401 Fixing hangs with several usd procedurals
  testsuite/test_0130/README
  testsuite/test_0130/data/sphere.usd
  testsuite/test_0130/data/test.ass
  testsuite/test_0130/ref/reference.log
  testsuite/test_0130/ref/reference.tif
  translator/reader/prim_reader.cpp
  translator/reader/prim_reader.h
  translator/reader/read_arnold_type.h
  translator/reader/read_camera.h
  translator/reader/read_geometry.h
  translator/reader/read_light.h
  translator/reader/read_shader.h
  translator/reader/reader.cpp
  translator/reader/registry.cpp
  translator/reader/registry.h
Labels: bug, procedural
