Repository Autodesk/arnold-usd, pull requests merged in 2020-12, with the labels that each got.

#606 Adding support for physical camera parameters and DOF
  README.md
  render_delegate/CMakeLists.txt
  render_delegate/SConscript
  render_delegate/camera.cpp
  render_delegate/camera.h
  render_delegate/constant_strings.h
  render_delegate/light.cpp
  render_delegate/material.h
  render_delegate/render_delegate.cpp
  render_delegate/render_pass.cpp
Labels: enhancement, render delegate

#608 Missing comma from render_delegate/SConscript.
  render_delegate/SConscript
Labels: build, render delegate

#609 Counting the faceVertexCounts for right-handed meshes for primvar validation
  render_delegate/mesh.cpp
Labels: bug, render delegate

#610 Support polymeshes with empty nsides array
  testsuite/test_0148/README
  testsuite/test_0148/data/scene.ass
  testsuite/test_0148/data/test.cpp
  translator/writer/write_geometry.cpp
Labels: bug, scene format, writer

#613 Support Arnold specific hydra camera parameters
  render_delegate/camera.cpp
Labels: enhancement, render delegate, user

#620 Extending _GetArnoldTypesFromTokenType with more types
  render_delegate/render_pass.cpp
Labels: bug, houdini, render delegate, user

#625 Fixing parsing of ARNOLD_VERSION_FIX when multiple groups of numbers are matched
  cmake/modules/FindArnold.cmake
Labels: bug, build

#627 Read and write arnold schemas as if they inherit from UsdGeomXformable
  testsuite/test_0149/README
  testsuite/test_0149/data/shader.ass
  testsuite/test_0149/data/shape.ass
  testsuite/test_0149/data/test.usda
  testsuite/test_0149/ref/reference.log
  testsuite/test_0149/ref/reference.tif
  translator/reader/prim_reader.cpp
  translator/reader/read_arnold_type.cpp
  translator/reader/read_geometry.cpp
  translator/reader/reader.cpp
  translator/reader/utils.cpp
  translator/reader/utils.h
  translator/writer/write_arnold_type.cpp
  translator/writer/write_geometry.cpp
Labels: enhancement, procedural, writer

#559 Inheriting from XFormable for shape, light and camera schemas
  schemas/createSchemaFile.py
Labels: enhancement, schema

#628 Author extents on shapes when writing to USD
  translator/writer/write_arnold_type.cpp
  translator/writer/write_geometry.cpp
Labels: writer

#631 More fixes on writing procedurals extents
  translator/writer/write_arnold_type.cpp
  translator/writer/write_geometry.cpp
Labels: writer

#630 Create hierarchy with xform primitives in the writer
  translator/writer/write_arnold_type.cpp
  translator/writer/write_camera.cpp
  translator/writer/write_geometry.cpp
  translator/writer/write_light.cpp
  translator/writer/writer.cpp
  translator/writer/writer.h
Labels: writer
