Repository Autodesk/arnold-usd, pull requests merged in 2020-11, with the labels that each got.

#590 Updating test 80 for Arnold 6.1.0.0
  testsuite/test_0080/ref/reference.log
  testsuite/test_0080/ref/reference.tif
Labels: bug, build, render delegate

#593 Fixing issues related to invalid face-varying primvars in usd stages
  render_delegate/mesh.cpp
  render_delegate/mesh.h
  render_delegate/utils.cpp
  render_delegate/utils.h
  testsuite/groups
  testsuite/test_0147/README
  testsuite/test_0147/data/test.cpp
Labels: bug, crash, render delegate

#601 Allow overwriting the usd procedural name.
  SConstruct
  cmake/utils/options.cmake
  procedural/CMakeLists.txt
  procedural/SConscript
  procedural/main.cpp
Labels: build, enhancement, procedural

#598 Add support for autobump visibility and ignore subsurface ray types
  render_delegate/constant_strings.h
  render_delegate/utils.cpp
Labels: enhancement, render delegate

#603 Add search paths to Render Settings.
  render_delegate/config.cpp
  render_delegate/config.h
  render_delegate/constant_strings.h
  render_delegate/render_delegate.cpp
Labels: enhancement, houdini, render delegate

#604 Add attribute cache_id to the procedural
  SConstruct
  cmake/utils/options.cmake
  procedural/CMakeLists.txt
  procedural/SConscript
  procedural/main.cpp
  translator/CMakeLists.txt
  translator/SConscript
  translator/reader/reader.cpp
  translator/reader/reader.h
Labels: procedural
