Repository Autodesk/arnold-usd, pull requests merged in 2020-09, with the labels that each got.

#515 Add support for UsdPreviewSurface Usdtransform2d
  render_delegate/constant_strings.h
  render_delegate/material.cpp
  render_delegate/utils.cpp
Labels: enhancement, render delegate

#520 Adding per-face material assignment support to the Render Delegate.
  render_delegate/constant_strings.h
  render_delegate/instancer.cpp
  render_delegate/material.cpp
  render_delegate/mesh.cpp
  render_delegate/mesh.h
  render_delegate/render_pass.cpp
  render_delegate/utils.cpp
  render_delegate/utils.h
  testsuite/test_0036/data/scene.usda
Labels: enhancement, render delegate, user

#519 render_delegate: Accept both strings and tokens for `varname` on `Pri…
  render_delegate/material.cpp
Labels: bug, render delegate

#524 More fixes, and test for the export scope
  procedural/main.cpp
  testsuite/test_0138/README
  testsuite/test_0138/data/scene.ass
  testsuite/test_0138/data/test.cpp
  translator/writer/prim_writer.cpp
Labels: writer

#526 Removing Katana 3.2 specific code
  render_delegate/material.cpp
  render_delegate/material.h
Labels: katana, render delegate

#529 Removing the use of pxr:: from material.cpp
  render_delegate/material.cpp
Labels: bug, build

#531 Documenting the use of the pxr namespace macros
  docs/conventions.md
Labels: docs

#532 Fixing the cylinder light axis
  render_delegate/light.cpp
Labels: bug, houdini, render delegate

#534 Adding BOOST_ALL_NO_LIB build option
  SConstruct
Labels: build, enhancement, houdini

#538 Implementing GetRenderStats and returning percentage done
  render_delegate/constant_strings.h
  render_delegate/render_delegate.cpp
  render_delegate/render_delegate.h
Labels: enhancement, houdini, render delegate

#539 Add support for light shaping in the reader
  testsuite/test_0139/README
  testsuite/test_0139/data/test.usda
  testsuite/test_0139/ref/reference.log
  testsuite/test_0139/ref/reference.tif
  testsuite/test_0140/README
  testsuite/test_0140/data/file.ies
  testsuite/test_0140/data/test.usda
  testsuite/test_0140/ref/reference.log
  testsuite/test_0140/ref/reference.tif
  translator/reader/read_light.cpp
Labels: enhancement, procedural

#541 Installing license file
  SConstruct
Labels: build

#544 Write UV coordinates as primvars:st
  translator/writer/write_geometry.cpp
Labels: scene format, writer

#545 Support animated visibility
  testsuite/test_0141/README
  testsuite/test_0141/data/scene.usda
  testsuite/test_0141/data/test.ass
  testsuite/test_0141/ref/reference.log
  testsuite/test_0141/ref/reference.tif
  translator/reader/reader.cpp
Labels: bug, procedural

#554 Fix compilation error with License.md
  SConstruct
Labels: bug, build

#555 Viewport display of procedurals with overrides but no filename
  procedural/main.cpp
  testsuite/test_0142/README
  testsuite/test_0142/data/scene.ass
  testsuite/test_0142/data/test.cpp
  testsuite/test_0142/ref/reference.log
  testsuite/test_0142/ref/reference.tif
Labels: bug, procedural

#557 Support deformation motion blur properly
  testsuite/test_0143/README
  testsuite/test_0143/data/sphere.usda
  testsuite/test_0143/data/test.ass
  testsuite/test_0143/ref/reference.log
  testsuite/test_0143/ref/reference.tif
  translator/reader/read_geometry.cpp
  translator/reader/utils.cpp
  translator/reader/utils.h
Labels: bug, procedural
