Repository Autodesk/arnold-usd, pull requests merged in 2020-03, with the labels that each got.

#253 Fix build with clang9
  tools/scons-custom/site_tools/clang.py
Labels: bug, build

#254 Dirtying the Transform when Params are dirty for light updates.
  render_delegate/light.cpp
Labels: bug, render delegate

#259 Changing RTLD_GLOBAL to RTLD_LOCAL in procedural main
  procedural/main.cpp
Labels: core, crash

#257 Using the new instancer procedural.
  arnold_usd.h.in
  render_delegate/constant_strings.h
  render_delegate/hdarnold.h
  render_delegate/shape.cpp
  render_delegate/shape.h
Labels: enhancement, render delegate

#218 Prim visibility
  testsuite/test_0028/README
  testsuite/test_0028/data/scene.usda
  testsuite/test_0028/data/test.ass
  testsuite/test_0028/ref/reference.log
  testsuite/test_0028/ref/reference.tif
  testsuite/test_0030/ref/reference.log
  testsuite/test_0030/ref/reference.tif
  translator/reader/read_geometry.cpp
  translator/reader/read_light.cpp
  translator/reader/reader.cpp
  translator/reader/reader.h
  translator/reader/utils.cpp
Labels: procedural

#260 Fixing render delegate compilation issue with latest USD dev
  SConstruct
  cmake/modules/FindUSD.cmake
  render_delegate/CMakeLists.txt
  render_delegate/SConscript
  render_delegate/render_pass.cpp
  render_delegate/render_pass.h
  tools/utils/build_tools.py
Labels: build, render delegate

#262 Fix kitchen random failures by hiding an overlapping object
  testsuite/groups
  testsuite/test_0016/data/test.ass
  testsuite/test_0016/ref/reference.log
  testsuite/test_0016/ref/reference.tif
Labels: bug, procedural

#266 Create release notes for 6.0.2.1.
  CHANGELOG.md
Labels: docs

#267 Adding support for computed primvars
  docs/building.md
  render_delegate/light.cpp
  render_delegate/mesh.cpp
  render_delegate/mesh.h
  render_delegate/render_delegate.cpp
  render_delegate/utils.cpp
  render_delegate/utils.h
Labels: enhancement, render delegate

#271 Improving render API usage.
  render_delegate/light.cpp
  render_delegate/material.cpp
  render_delegate/mesh.cpp
  render_delegate/points.cpp
  render_delegate/render_delegate.cpp
  render_delegate/render_param.cpp
  render_delegate/render_param.h
  render_delegate/render_pass.cpp
  render_delegate/shape.cpp
  render_delegate/volume.cpp
Labels: enhancement, render delegate

#277 Add mask parameter to the usd writer
  procedural/main.cpp
  translator/writer/writer.cpp
  translator/writer/writer.h
Labels: enhancement, writer

#278 Add mask to the usd reader
  procedural/main.cpp
  translator/reader/reader.cpp
  translator/reader/reader.h
  translator/reader/registry.cpp
  translator/reader/registry.h
Labels: bug, procedural

#273 Forcing renders to restart if the scene was dirtied after converging
  render_delegate/render_param.cpp
  render_delegate/render_param.h
Labels: bug, render delegate

#279 Fixing typo in CHANGELOG.md
  CHANGELOG.md
Labels: docs

#281 Fix incorrect behaviour in usd reader mask
  procedural/main.cpp
  testsuite/test_0034/README
  testsuite/test_0034/data/scene.usda
  testsuite/test_0034/data/test.ass
  testsuite/test_0034/ref/reference.log
  testsuite/test_0034/ref/reference.tif
  translator/reader/reader.cpp
  translator/reader/registry.cpp
  translator/reader/registry.h
Labels: bug, procedural

#283 Per-face shader assignments in procedural
  testsuite/test_0035/README
  testsuite/test_0035/data/geom.usda
  testsuite/test_0035/data/scene.ass
  testsuite/test_0035/data/scene.usda
  testsuite/test_0035/data/test.ass
  testsuite/test_0035/ref/reference.log
  testsuite/test_0035/ref/reference.tif
  translator/reader/read_geometry.cpp
  translator/reader/utils.cpp
  translator/reader/utils.h
Labels: enhancement, procedural

#285 Fix warnings with UsdPreviewSurface in the procedural
  translator/reader/read_shader.cpp
Labels: bug, procedural

#287 Author UsdGeomSubset in the usd writer
  testsuite/test_0036/README
  testsuite/test_0036/data/scene.usda
  testsuite/test_0036/data/test.ass
  testsuite/test_0036/ref/reference.log
  testsuite/test_0036/ref/reference.tif
  translator/writer/prim_writer.cpp
  translator/writer/prim_writer.h
  translator/writer/write_geometry.cpp
Labels: enhancement, writer

#296 Fix crash in the viewport functions #295
  translator/reader/reader.cpp
Labels: bug, procedural

#299 Setting instancer to nullptr on the shape.
  render_delegate/shape.h
Labels: crash, render delegate

#297 Prevent crashes when writing USD files with upper-case extensions
  procedural/main.cpp
  translator/reader/reader.cpp
Labels: bug, procedural

#304 Fix build issue on linux and mac
  procedural/main.cpp
Labels: bug, build

#301 Add support for C++ tests
  testsuite/test_0038/README
  testsuite/test_0038/data/scene.ass
  testsuite/test_0038/data/test.cpp
  testsuite/test_0038/data/usd_proc_a.usda
  testsuite/test_0038/data/usd_proc_b.usda
  testsuite/test_0038/ref/reference.log
  testsuite/test_0038/ref/reference.tif
  tools/utils/regression_test.py
Labels: build, enhancement

#307 Fixing the render delegate build when using USD-0.19.05.
  render_delegate/hdarnold.h
  render_delegate/mesh.cpp
  render_delegate/utils.cpp
Labels: bug, build, render delegate

#309 Rewriting how render buffers and aborted renders are handled.
  render_delegate/constant_strings.h
  render_delegate/hdarnold.h
  render_delegate/instancer.h
  render_delegate/nodes/driver.cpp
  render_delegate/nodes/nodes.cpp
  render_delegate/nodes/nodes.h
  render_delegate/render_buffer.cpp
  render_delegate/render_buffer.h
  render_delegate/render_delegate.cpp
  render_delegate/render_delegate.h
  render_delegate/render_param.cpp
  render_delegate/render_param.h
  render_delegate/render_pass.cpp
  render_delegate/render_pass.h
  render_delegate/shape.cpp
  render_delegate/shape.h
Labels: bug, enhancement, render delegate

#310 Another fix for builds on Mac
  procedural/main.cpp
Labels: bug, build
