Repository Autodesk/arnold-usd, pull requests merged in 2020-05, with the labels that each got.

#403 Renaming the testsuite param "resave" by "resaved"
  testsuite/test_0034/README
  testsuite/test_0051/README
  testsuite/test_0052/README
  testsuite/test_0053/README
  testsuite/test_0054/README
  testsuite/test_0055/README
  testsuite/test_0056/README
  testsuite/test_0057/README
  testsuite/test_0058/README
  testsuite/test_0059/README
  testsuite/test_0060/README
  testsuite/test_0061/README
  testsuite/test_0062/README
  testsuite/test_0063/README
  testsuite/test_0064/README
  testsuite/test_0065/README
  testsuite/test_0066/README
  testsuite/test_0067/README
  testsuite/test_0068/README
  testsuite/test_0069/README
  testsuite/test_0070/README
  testsuite/test_0071/README
  testsuite/test_0072/README
  testsuite/test_0073/README
  testsuite/test_0074/README
  testsuite/test_0075/README
  testsuite/test_0076/README
  testsuite/test_0077/README
  testsuite/test_0078/README
  testsuite/test_0079/README
  testsuite/test_0080/README
  testsuite/test_0081/README
  testsuite/test_0082/README
  testsuite/test_0083/README
  testsuite/test_0084/README
  testsuite/test_0085/README
  testsuite/test_0086/README
  tools/utils/regression_test.py
Labels: bug, build

#404 Fix testsuite scripts to match arnold python tools #402
  testsuite/test_0050/README
  tools/utils/regression_test.py
Labels: bug, build

#406 Updating coding conventions documentation
  clang_format
  docs/conventions.md
  procedural/main.cpp
  render_delegate/instancer.cpp
  render_delegate/light.cpp
  render_delegate/material.cpp
  render_delegate/mesh.cpp
  render_delegate/nodes/driver.cpp
  render_delegate/nodes/nodes.cpp
  render_delegate/openvdb_asset.cpp
  render_delegate/points.cpp
  render_delegate/render_buffer.cpp
  render_delegate/render_delegate.cpp
  render_delegate/render_param.cpp
  render_delegate/render_pass.cpp
  render_delegate/shape.cpp
  render_delegate/utils.cpp
  render_delegate/volume.cpp
  render_delegate/volume.h
  testsuite/test_0038/data/test.cpp
  testsuite/test_0039/data/test.cpp
  testsuite/test_0044/data/test.cpp
  testsuite/test_0045/data/test.cpp
  translator/reader/read_light.cpp
  translator/reader/read_shader.cpp
  translator/reader/reader.h
  translator/reader/utils.cpp
  translator/utils/utils.h
  translator/writer/write_arnold_type.cpp
Labels: docs

#407 Restore arnold names after conversions #396
  testsuite/test_0086/ref/reference.log
  testsuite/test_0086/ref/reference.tif
  testsuite/test_0119/data/test.ass
  testsuite/test_0119/data/test.assa11080
  translator/CMakeLists.txt
  translator/reader/prim_reader.cpp
  translator/reader/reader.cpp
  translator/reader/reader.h
  translator/writer/prim_writer.cpp
  translator/writer/registry.cpp
  translator/writer/write_options.cpp
  translator/writer/write_options.h
  translator/writer/write_shader.cpp
  translator/writer/write_shader.h
Labels: enhancement, procedural, scene format, writer

#410 Limiting symbol export of procedural on Linux and OSX
  procedural/CMakeLists.txt
  procedural/SConscript
  procedural/macos_export_list
  procedural/macos_export_list_no_scene
  procedural/plugin.map
Labels: build, procedural

#411 Reading filter parameters from the aovSettings map for the render buffers
  render_delegate/constant_strings.h
  render_delegate/nodes/driver.cpp
  render_delegate/render_buffer.h
  render_delegate/render_pass.cpp
  render_delegate/render_pass.h
Labels: enhancement, render delegate

#415 Re-enabling test 62 and 68
  testsuite/groups
Labels: build, enhancement, procedural

#417 Run the testsuite with a lambert default shader
  testsuite/test_0118/ref/reference.log
  testsuite/test_0118/ref/reference.tif
  testsuite/test_0124/ref/reference.log
  testsuite/test_0124/ref/reference.tif
  tools/utils/regression_test.py
Labels: build

#420 Remove uses of AiLoadPlugins
  ndr/utils.cpp
  render_delegate/render_delegate.cpp
  translator/reader/registry.cpp
  translator/writer/registry.cpp
Labels: enhancement, houdini, render delegate

#423 Adding usdSkel as a link time dependency when using a shared USD build
  procedural/SConscript
  tools/utils/dependencies.py
  translator/CMakeLists.txt
  translator/SConscript
Labels: bug, build, procedural

#424 Adding support for nested procedurals in the viewport
  translator/reader/read_geometry.cpp
  translator/reader/read_geometry.h
  translator/reader/registry.cpp
Labels: bug, procedural

#433 Setting the elementId, instanceId and pointId AOV to converged and setting its value.
  render_delegate/render_pass.cpp
Labels: bug, render delegate

#432 Resetting the aborted status when the scene changed.
  render_delegate/render_param.cpp
  render_delegate/render_param.h
  render_delegate/render_pass.cpp
Labels: bug, render delegate

#429 Reading the aovSettings map from the aovBindings.
  render_delegate/CMakeLists.txt
  render_delegate/SConscript
  render_delegate/constant_strings.h
  render_delegate/nodes/driver_aov.cpp
  render_delegate/nodes/driver_main.cpp
  render_delegate/nodes/nodes.cpp
  render_delegate/render_param.cpp
  render_delegate/render_pass.cpp
  render_delegate/render_pass.h
Labels: enhancement, houdini, render delegate

#434 Use image uvset when reading a UsdUVTexture #428
  testsuite/test_0132/README
  testsuite/test_0132/data/test.usda
  testsuite/test_0132/data/texture.tx
  testsuite/test_0132/ref/reference.log
  testsuite/test_0132/ref/reference.tif
  translator/reader/read_shader.cpp
Labels: procedural

#436 Extend viewport representation of nested procedurals
  translator/reader/read_geometry.cpp
  translator/reader/read_geometry.h
  translator/reader/registry.cpp
Labels: bug, procedural

#440 Interrupting renders when destroying a Bprim
  render_delegate/render_delegate.cpp
Labels: bug, crash, houdini, render delegate

#441 Supporting the sourceName aovSetting for rneder buffers
  render_delegate/constant_strings.h
  render_delegate/nodes/driver_aov.cpp
  render_delegate/nodes/driver_main.cpp
  render_delegate/render_buffer.h
  render_delegate/render_pass.cpp
  render_delegate/render_pass.h
Labels: enhancement, houdini, render delegate

#447 Adding a new scons variable to set the CXX_STANDARD
  SConstruct
Labels: build, render delegate

#438 Searching for filter parameters under an alternate prefix.
  render_delegate/render_pass.cpp
Labels: enhancement, houdini, render delegate

#443 Supporting primvar rendervars
  render_delegate/constant_strings.h
  render_delegate/render_buffer.h
  render_delegate/render_delegate.cpp
  render_delegate/render_pass.cpp
Labels: enhancement, houdini, render delegate

#449 Using the sub-network connected to a preview surface's displacement parameter when preview surface used as displacement
  render_delegate/constant_strings.h
  render_delegate/material.cpp
Labels: bug, render delegate

#452 Using the dataType aovSetting correctly.
  render_delegate/nodes/driver_main.cpp
  render_delegate/render_pass.cpp
Labels: bug, render delegate
