Repository Autodesk/arnold-usd, pull requests merged in 2020-10, with the labels that each got.

#566 Support animation on parent xforms
  testsuite/test_0144/README
  testsuite/test_0144/data/sphere.usd
  testsuite/test_0144/data/test.ass
  testsuite/test_0144/ref/reference.log
  testsuite/test_0144/ref/reference.tif
  translator/reader/utils.cpp
Labels: bug, procedural

#568 Removing override from HdArnoldMaterial::Reload
  render_delegate/material.cpp
  render_delegate/material.h
Labels: bug, build, render delegate

#561 Fixing updatePlugInfo.py with newer USD builds
  schemas/CMakeLists.txt
  schemas/SConscript
  schemas/updatePlugInfo.py
Labels: bug, build, schema

#571 Fixing issues with the inline OSL node
  render_delegate/constant_strings.h
  render_delegate/material.cpp
Labels: bug, render delegate, user

#572 Fixed reading OSL shaders in the procedural
  testsuite/test_0050/data/test.usda
  testsuite/test_0122/ref/reference.log
  testsuite/test_0122/ref/reference.tif
  testsuite/test_0145/README
  testsuite/test_0145/data/test.usda
  testsuite/test_0145/ref/reference.log
  testsuite/test_0145/ref/reference.tif
  translator/reader/prim_reader.cpp
Labels: bug, procedural

#576 Removing unnecessary widths query from HdArnoldBasisCurves::sync
  render_delegate/basis_curves.cpp
Labels: bug, houdini, render delegate, user

#575 Adding support for light filters in Hydra via materials
  CMakeLists.txt
  SConstruct
  cmake/modules/FindArnold.cmake
  cmake/modules/FindGoogleTest.cmake
  cmake/modules/FindTBB.cmake
  cmake/modules/FindUSD.cmake
  cmake/utils/options.cmake
  render_delegate/light.cpp
  schemas/createSchemaFile.py
  tools/utils/dependencies.py
  usd_imaging/CMakeLists.txt
  usd_imaging/SConscript
  usd_imaging/api.h
  usd_imaging/plugInfo.json.in
  usd_imaging/usd_lux_light_filter_adapter.cpp
  usd_imaging/usd_lux_light_filter_adapter.h
Labels: build, enhancement, houdini, render delegate, schema, user

#581 Changing depth range from -1..1 to 0..1 if USD is at least 20.02
  render_delegate/hdarnold.h
  render_delegate/nodes/driver_main.cpp
Labels: bug, render delegate, user

#578 Add support for treatAsPoint on the sphere light
  render_delegate/constant_strings.h
  render_delegate/light.cpp
Labels: bug, render delegate, user

#586 Adding release notes for 6.1.0.0.
  CHANGELOG.md
Labels: docs
