Repository Autodesk/arnold-usd, pull requests merged in 2020-02, with the labels that each got.

#192 Fix tbb linkage when using a custom `USD_LIB_PREFIX`
  schemas/SConscript
Labels: bug, build, schema

#187 Reformat building instructions
  docs/building.md
Labels: docs

#183 Export material bindings in the writer
  translator/writer/prim_writer.cpp
  translator/writer/prim_writer.h
  translator/writer/write_geometry.cpp
  translator/writer/writer.cpp
  translator/writer/writer.h
Labels: bug, writer

#189 Reader checks existing node's parent before skipping its creation
  translator/reader/reader.cpp
  translator/reader/reader.h
Labels: bug, procedural

#179 Refactor the parallel reader
  testsuite/groups
  translator/reader/prim_reader.cpp
  translator/reader/prim_reader.h
  translator/reader/read_arnold_type.cpp
  translator/reader/read_arnold_type.h
  translator/reader/read_geometry.cpp
  translator/reader/read_light.cpp
  translator/reader/read_shader.cpp
  translator/reader/reader.cpp
  translator/reader/reader.h
  translator/reader/utils.cpp
  translator/reader/utils.h
Labels: enhancement, procedural

#198 Adding initial implementation for cmake.
  .gitignore
  CMakeLists.txt
  LICENSE.md
  cmake/modules/FindArnold.cmake
  cmake/modules/FindTBB.cmake
  cmake/modules/FindUSD.cmake
  cmake/utils/options.cmake
  cmd/CMakeLists.txt
  docs/CMakeLists.txt
  docs/Doxyfile
  ndr/CMakeLists.txt
  ndr/api.h
  ndr/utils.h
  procedural/CMakeLists.txt
  render_delegate/CMakeLists.txt
  render_delegate/api.h
  render_delegate/renderer_plugin.h
  render_delegate/utils.h
  schemas/CMakeLists.txt
  schemas/createSchemaFile.py
  schemas/updatePlugInfo.py
  translator/CMakeLists.txt
Labels: build, enhancement

#202 Disable the kitchen scene test again
  testsuite/groups
Labels: bug, procedural

#200 Applying the OSX fix of delaying the USD library load to Linux
  procedural/SConscript
  procedural/main.cpp
Labels: crash, procedural

#209 Writer sets proper names for node attributes
  translator/writer/prim_writer.cpp
  translator/writer/writer.cpp
Labels: bug, writer

#205 Improving documentation
  README.md
Labels: docs

#213 Support leftHanded topologies for face varying primvars
  render_delegate/mesh.cpp
  render_delegate/mesh.h
  render_delegate/utils.cpp
  render_delegate/utils.h
Labels: bug, render delegate

#216 Convert some primvars as arnold builtins
  testsuite/test_0025/README
  testsuite/test_0025/data/sphere.usda
  testsuite/test_0025/data/test.ass
  testsuite/test_0025/ref/reference.log
  testsuite/test_0025/ref/reference.tif
  translator/reader/utils.h
  translator/writer/write_geometry.cpp
Labels: enhancement, procedural, writer

#223 Support per-vertex uvs or normals list
  testsuite/test_0025/data/sphere.usda
  testsuite/test_0025/ref/reference.log
  testsuite/test_0025/ref/reference.tif
  translator/reader/read_geometry.cpp
  translator/reader/utils.cpp
  translator/reader/utils.h
Labels: bug, procedural

#217 Consider the shader output connections properly
  testsuite/test_0026/README
  testsuite/test_0026/data/scene.usda
  testsuite/test_0026/data/test.ass
  testsuite/test_0026/data/uv_image.png
  testsuite/test_0026/ref/reference.log
  testsuite/test_0026/ref/reference.tif
  testsuite/test_0027/README
  testsuite/test_0027/data/sphere.usda
  testsuite/test_0027/data/test.ass
  testsuite/test_0027/ref/reference.log
  testsuite/test_0027/ref/reference.tif
  translator/reader/prim_reader.cpp
  translator/reader/reader.cpp
  translator/reader/reader.h
  translator/writer/prim_writer.cpp
Labels: bug, procedural, writer

#225 Improving support for hydra point instancer
  render_delegate/instancer.cpp
  render_delegate/instancer.h
  render_delegate/mesh.cpp
  render_delegate/shape.cpp
  render_delegate/shape.h
  render_delegate/utils.cpp
  render_delegate/utils.h
  render_delegate/volume.cpp
  render_delegate/volume.h
Labels: bug, enhancement, render delegate

#231 Support varying primvars on points
  testsuite/test_0029/README
  testsuite/test_0029/data/scene.usda
  testsuite/test_0029/data/test.ass
  testsuite/test_0029/ref/reference.log
  testsuite/test_0029/ref/reference.tif
  translator/reader/read_geometry.cpp
  translator/reader/utils.h
Labels: procedural

#233 Add support for USD volumes
  cmd/SConscript
  procedural/SConscript
  testsuite/test_0030/README
  testsuite/test_0030/data/scene.usda
  testsuite/test_0030/data/smoke.vdb
  testsuite/test_0030/data/test.ass
  testsuite/test_0030/ref/reference.log
  testsuite/test_0030/ref/reference.tif
  translator/CMakeLists.txt
  translator/SConscript
  translator/reader/read_geometry.cpp
  translator/reader/read_geometry.h
  translator/reader/registry.cpp
  translator/reader/utils.cpp
  translator/reader/utils.h
Labels: enhancement, procedural

#234 Matching the number of motion keys between position and normal on the mesh
  render_delegate/mesh.cpp
  render_delegate/mesh.h
  render_delegate/utils.cpp
  render_delegate/utils.h
Labels: bug, render delegate

#237 Fixing typo in the parameter conversion for the render delegate.
  render_delegate/utils.cpp
Labels: bug, render delegate

#240 Support serialized usd data in the procedural without any usd file
  procedural/main.cpp
  testsuite/test_0031/README
  testsuite/test_0031/data/builtin_shapes.usda
  testsuite/test_0031/data/test.ass
  testsuite/test_0031/ref/reference.log
  testsuite/test_0031/ref/reference.tif
  testsuite/test_0032/README
  testsuite/test_0032/data/test.ass
  testsuite/test_0032/ref/reference.log
  testsuite/test_0032/ref/reference.tif
  translator/reader/reader.cpp
Labels: procedural

#242 Support Basis Curves in the translator
  testsuite/test_0033/README
  testsuite/test_0033/data/scene.usda
  testsuite/test_0033/data/test.ass
  testsuite/test_0033/ref/reference.log
  testsuite/test_0033/ref/reference.tif
  translator/reader/read_geometry.cpp
  translator/reader/registry.cpp
Labels: bug, procedural

#241 Check which type is holding a vtValue before setting attributes
  testsuite/test_0009/data/sphere.usd
  translator/reader/prim_reader.cpp
  translator/reader/prim_reader.h
  translator/reader/read_geometry.cpp
  translator/reader/read_light.cpp
Labels: procedural

#246 Fix pixel format for render buffer conversion (#245)
  render_delegate/render_buffer.cpp
  render_delegate/render_buffer.h
Labels: bug, render delegate

#248 Convert between width and radius in the reader and writer
  testsuite/test_0001/ref/reference.log
  testsuite/test_0001/ref/reference.tif
  testsuite/test_0029/data/test.ass
  testsuite/test_0029/ref/reference.log
  testsuite/test_0029/ref/reference.tif
  testsuite/test_0033/ref/reference.log
  testsuite/test_0033/ref/reference.tif
  translator/reader/read_geometry.cpp
  translator/writer/write_geometry.cpp
Labels: bug, procedural
