Repository Autodesk/arnold-usd, pull requests merged in 2021-01, with the labels that each got.

#635 Fixing disappearing meshes when playing back animation
  render_delegate/mesh.cpp
  render_delegate/points.cpp
  render_delegate/utils.cpp
Labels: bug, crash, render delegate, user

#636 Ensure uvs are read properly when indices are empty
  testsuite/test_0150/README
  testsuite/test_0150/data/scene.usd
  testsuite/test_0150/data/test.ass
  testsuite/test_0150/ref/reference.log
  testsuite/test_0150/ref/reference.tif
  translator/reader/prim_reader.cpp
Labels: bug, procedural

#640 Support ray-type visibility in the procedural #637
  testsuite/test_0151/README
  testsuite/test_0151/data/test.usda
  testsuite/test_0151/ref/reference.log
  testsuite/test_0151/ref/reference.tif
  translator/reader/prim_reader.cpp
Labels: enhancement, procedural

#639 Setting motion_start and motion_end when applying transformation matrices
  render_delegate/constant_strings.h
  render_delegate/utils.cpp
Labels: bug, houdini, render delegate, user

#642 Fixing build issues using gcc-4.8.5
  render_delegate/camera.cpp
Labels: bug, build, render delegate

#644 Only dump a warning if root prim is not active
  translator/reader/reader.cpp
Labels: bug, procedural
