Repository Autodesk/arnold-usd, pull requests merged in 2021-06, with the labels that each got.

#803 Don't read primvars matching arnold attribute names
  testsuite/test_0179/README
  testsuite/test_0179/data/test.usda
  testsuite/test_0179/ref/reference.log
  testsuite/test_0179/ref/reference.tif
  translator/reader/prim_reader.cpp
Labels: bug, procedural

#804 Renaming metadata used by ndr plugin
  ndr/discovery.cpp
  ndr/plugInfo.json.in
  ndr/utils.cpp
Labels: ndr, user

#809 Converting string/token/asset path primvar arrays to built-in string arrays
  render_delegate/utils.cpp
  testsuite/test_0134/data/test.cpp
Labels: enhancement, render delegate, user

#784 Translate to a new universe and use a new render session (#783)
  render_delegate/hdarnold.h
  render_delegate/render_delegate.cpp
  render_delegate/render_delegate.h
  render_delegate/render_param.cpp
  render_delegate/render_param.h
Labels: render delegate

#811 Fixing schemas build when there are spaces in the project folder path
  schemas/SConscript
Labels: bug, build, schema

#822 Passing AI_SESSION_INTERACTIVE when creating AiRenderSession
  render_delegate/render_delegate.cpp
  render_delegate/render_delegate.h
Labels: crash, render delegate

#819 Using AiResolveFilePath when opening files in the procedural
  procedural/main.cpp
Labels: enhancement, procedural, user

#813 Using a custom AOV to store hydra prim IDs instead of the built-in ID AOV
  common/constant_strings.h
  render_delegate/nodes/driver_main.cpp
  render_delegate/render_pass.cpp
  render_delegate/render_pass.h
  render_delegate/shape.cpp
  render_delegate/utils.cpp
  render_delegate/utils.h
Labels: enhancement, render delegate, user

#817 Revamping visibility, sidedness and autobump_visibility support and c…
  render_delegate/basis_curves.cpp
  render_delegate/light.cpp
  render_delegate/mesh.cpp
  render_delegate/native_rprim.cpp
  render_delegate/points.cpp
  render_delegate/rprim.h
  render_delegate/utils.cpp
  render_delegate/utils.h
  render_delegate/volume.cpp
  render_delegate/volume.h
  testsuite/test_0134/data/test.cpp
  testsuite/test_0146/data/test.cpp
  testsuite/test_0152/data/test.cpp
  testsuite/test_0153/data/test.cpp
Labels: enhancement, render delegate, user
