Repository Autodesk/arnold-usd, pull requests merged in 2021-07, with the labels that each got.

#824 Renaming AI_ defs to ARNOLD_
  arnold_usd.h.in
  render_delegate/hdarnold.h
  render_delegate/render_delegate.cpp
  render_delegate/render_delegate.h
  render_delegate/render_param.cpp
  render_delegate/render_param.h
Labels: enhancement, render delegate

#825 Running unit tests via CMake
  cmake/utils/test.cmake
  testsuite/CMakeLists.txt
Labels: build

#826 Read aov name from RenderVars for merged AOVs
  testsuite/test_0180/README
  testsuite/test_0180/data/scene.usda
  testsuite/test_0180/data/test.cpp
  testsuite/test_0180/ref/reference.log
  testsuite/test_0180/ref/reference.tif
  translator/reader/read_options.cpp
Labels: bug, procedural

#829 Adding BUILD_BOOST_ALL_NO_LIB to the cmake configuration
  CMakeLists.txt
  cmake/utils/options.cmake
Labels: build, enhancement

#831 Adding override decorator for GetBuiltinPrimvarNames if PXR_VERSION >= 2002
  render_delegate/native_rprim.h
Labels: bug, build, render delegate

#827 Running render tests via cmake
  CMakeLists.txt
  cmake/utils/options.cmake
  cmake/utils/test.cmake
  docs/CMakeLists.txt
  docs/building.md
  testsuite/CMakeLists.txt
  testsuite/test_0090/data/test.ass
Labels: build

#833 Adding velocity and acceleration based interpolation to points and removing USD_HAS_UPDATED_TIME_SAMPLE_ARRAY from hdarnold.h (#673)
  render_delegate/basis_curves.cpp
  render_delegate/hdarnold.h
  render_delegate/mesh.cpp
  render_delegate/native_rprim.h
  render_delegate/points.cpp
  render_delegate/points.h
  render_delegate/render_buffer.cpp
  render_delegate/render_buffer.h
  render_delegate/render_delegate.cpp
  render_delegate/render_delegate.h
  render_delegate/render_param.cpp
  render_delegate/render_param.h
  render_delegate/render_pass.cpp
  render_delegate/rprim.h
  render_delegate/utils.cpp
  render_delegate/utils.h
Labels: enhancement, render delegate

#834 Adding missing defines to constant_strings.h and fixing test_0045/data/test.cpp.
  common/constant_strings.h
  testsuite/test_0045/data/test.cpp
Labels: build, render delegate

#836 Fixing build issue with USD 21.08
  ndr/discovery.cpp
  ndr/discovery.h
  ndr/parser.cpp
Labels: bug, build

#838 Fixing the use of iteritems with python 3
  schemas/createSchemaFile.py
Labels: bug, build, schema

#839 Add support for light-linking in the procedural
  testsuite/test_0181/README
  testsuite/test_0181/data/test.usda
  testsuite/test_0181/ref/reference.log
  testsuite/test_0181/ref/reference.tif
  translator/reader/read_light.cpp
  translator/reader/reader.cpp
  translator/reader/reader.h
Labels: enhancement, procedural

#842 Rendering unit tests using hydra and usdrecord and removing outdated macro from arnold_usd.
  CMakeLists.txt
  arnold_usd.h.in
  cmake/modules/FindUSD.cmake
  cmake/utils/build.cmake
  cmake/utils/test.cmake
  ndr/CMakeLists.txt
  ndr/ndrarnold.h
  render_delegate/CMakeLists.txt
  translator/reader/utils.cpp
  usd_imaging/CMakeLists.txt
Labels: enhancement, test

#848 Consider the corrent render camera for motion settings
  procedural/main.cpp
Labels: bug, procedural

#850 Not using AiArrayGetXXXFuncs anymore
  ndr/utils.cpp
Labels: enhancement, render delegate
