Repository Autodesk/arnold-usd, pull requests merged in 2021-11, with the labels that each got.

#901 Avoid calling AiRenderBegin when render is already running
  render_delegate/render_param.cpp
Labels: bug, render delegate, crash

#908 Fixing the use of AI_TYPE_INT AOVs
  render_delegate/nodes/driver_aov.cpp
  render_delegate/render_pass.cpp
Labels: bug, render delegate, user

#907 Setting the returned version to default in the Sdr plugin
  ndr/discovery.cpp
Labels: bug, ndr, user

#898 Updating changelog and readme for Arnold 7.
  CHANGELOG.md
  README.md
  docs/building.md
Labels: docs

#920 Using GetVolumeShader if native rprim is volume
  render_delegate/native_rprim.cpp
Labels: bug, houdini, render delegate

#916 Fix pointInstancer and prototypes visibilities
  CHANGELOG.md
  README.md
  docs/building.md
  testsuite/test_0023/ref/reference.log
  testsuite/test_0023/ref/reference.tif
  testsuite/test_0024/ref/reference.log
  testsuite/test_0024/ref/reference.tif
  testsuite/test_0030/data/scene.usda
  testsuite/test_0183/README
  testsuite/test_0183/data/scene.usda
  testsuite/test_0183/data/test.ass
  testsuite/test_0183/ref/reference.log
  testsuite/test_0183/ref/reference.tif
  translator/reader/read_geometry.cpp
  translator/reader/reader.cpp
  translator/reader/reader.h
Labels: bug, procedural, user

#925 Don't write the default color manager node to usd
  translator/writer/writer.cpp
Labels: bug, writer

#926 Remap curves primvars
  common/shape_utils.h
  testsuite/test_0184/README
  testsuite/test_0184/data/test.usda
  testsuite/test_0184/ref/reference.log
  testsuite/test_0184/ref/reference.tif
  translator/reader/prim_reader.cpp
  translator/reader/prim_reader.h
  translator/reader/read_geometry.cpp
  translator/reader/utils.cpp
  translator/reader/utils.h
Labels: bug, procedural

#919 Changing the default descriptor returned for AOVs
  render_delegate/render_delegate.cpp
Labels: bug, houdini, render delegate

#929 Apply point instancer matrix to all instances
  testsuite/test_0185/README
  testsuite/test_0185/data/scene.usd
  testsuite/test_0185/ref/reference.log
  testsuite/test_0185/ref/reference.tif
  translator/reader/read_geometry.cpp
Labels: bug, procedural

#940 Add writer API to skip material bindings #939
  translator/writer/prim_writer.cpp
  translator/writer/writer.h
Labels: enhancement, writer

#941 Avoid linking against hdx for older USD versions
  SConstruct
  render_delegate/CMakeLists.txt
  render_delegate/render_pass.h
  tools/utils/build_tools.py
  tools/utils/dependencies.py
Labels: bug, render delegate, build
