Repository Autodesk/arnold-usd, pull requests merged in 2021-05, with the labels that each got.

#776 Remove deprecated functions, warnings, and fix some bugs (#775)
  common/constant_strings.h
  common/shape_utils.h
  render_delegate/camera.cpp
  render_delegate/instancer.cpp
  render_delegate/light.cpp
  render_delegate/light.h
  render_delegate/material.cpp
  render_delegate/material.h
  render_delegate/render_buffer.h
  render_delegate/render_delegate.cpp
  render_delegate/render_param.cpp
  render_delegate/render_pass.cpp
  render_delegate/rprim.h
  render_delegate/shape.cpp
  render_delegate/utils.cpp
  render_delegate/volume.cpp
Labels: render delegate

#779 Read all animated parameters at the proper time
  procedural/main.cpp
  testsuite/test_0177/README
  testsuite/test_0177/data/sphere.usd
  testsuite/test_0177/data/test.ass
  testsuite/test_0177/ref/reference.log
  testsuite/test_0177/ref/reference.tif
  translator/reader/prim_reader.cpp
  translator/reader/read_camera.cpp
  translator/reader/read_geometry.cpp
  translator/reader/read_light.cpp
  translator/reader/read_shader.cpp
  translator/reader/reader.cpp
  translator/reader/utils.cpp
Labels: bug, procedural

#781 Supporting the use of Python 3 build via CMake
  CMakeLists.txt
  cmake/utils/build.cmake
  cmake/utils/options.cmake
  ndr/CMakeLists.txt
  render_delegate/CMakeLists.txt
  schemas/createSchemaFile.py
  schemas/updatePlugInfo.py
  translator/CMakeLists.txt
  usd_imaging/CMakeLists.txt
Labels: build, imaging, ndr, procedural, render delegate

#782 Write multiple frames to a single usd file
  common/constant_strings.h
  procedural/main.cpp
  testsuite/test_0178/README
  testsuite/test_0178/data/test.cpp
  translator/writer/prim_writer.cpp
  translator/writer/write_arnold_type.cpp
  translator/writer/write_arnold_type.h
  translator/writer/write_camera.cpp
  translator/writer/write_geometry.cpp
  translator/writer/write_light.cpp
  translator/writer/write_shader.cpp
  translator/writer/writer.cpp
  translator/writer/writer.h
Labels: enhancement, writer

#774 Updating changelog and readme
  CHANGELOG.md
  README.md
Labels: docs, enhancement

#796 Converting GfMatrix4d attributes to AI_TYPE_MATRIX parameters
  render_delegate/utils.cpp
  testsuite/test_0134/data/test.cpp
Labels: bug, render delegate, user

#791 Reset disp_map instead of setting nullptr array. (#790)
  render_delegate/mesh.cpp
Labels: bug, core, render delegate, user

#799 Interrupting renders before deleting render pass nodes.
  render_delegate/render_pass.cpp
Labels: bug, render delegate
