Repository Autodesk/arnold-usd, pull requests merged in 2021-04, with the labels that each got.

#734 Passing id to the shapes created in the reader
  procedural/main.cpp
  testsuite/test_0176/README
  testsuite/test_0176/data/builtin_shapes.usda
  testsuite/test_0176/data/test.ass
  testsuite/test_0176/ref/reference.log
  testsuite/test_0176/ref/reference.tif
  translator/reader/reader.cpp
  translator/reader/reader.h
Labels: bug, procedural

#745 Optionally adding the arnold binaries to the RPATH
  SConstruct
Labels: build, enhancement, user

#747 Remove the dependency between the testsuite and the procedural
  SConstruct
Labels: bug, build

#750 Simplify accessing Arnold parameters using UsdImagingPrimAdater::Get.
  common/constant_strings.h
  common/shape_utils.cpp
  common/shape_utils.h
  render_delegate/native_rprim.cpp
  render_delegate/render_delegate.cpp
  usd_imaging/shape_adapter.cpp
  usd_imaging/shape_adapter.h
  usd_imaging/shape_adapters.cpp.in
Labels: enhancement, imaging, render delegate

#753 Tracking material assignments to shapes and resyncing material IDs if terminals have changed
  render_delegate/CMakeLists.txt
  render_delegate/SConscript
  render_delegate/basis_curves.cpp
  render_delegate/material.cpp
  render_delegate/material.h
  render_delegate/material_tracker.cpp
  render_delegate/material_tracker.h
  render_delegate/mesh.cpp
  render_delegate/native_rprim.cpp
  render_delegate/points.cpp
  render_delegate/render_delegate.cpp
  render_delegate/render_delegate.h
  render_delegate/rprim.h
  render_delegate/volume.cpp
  render_delegate/volume.h
Labels: crash, render delegate, user

#758 Adding support for deep rendering via Delegate Render Products and turning off progressive mode when used in husk
  common/constant_strings.h
  render_delegate/render_delegate.cpp
  render_delegate/render_delegate.h
  render_delegate/render_pass.cpp
  render_delegate/render_pass.h
  render_delegate/renderer_plugin.cpp
Labels: enhancement, houdini, render delegate, user

#760 Removing NeedsUpdate check when setting primvars on the Point Instancer
  render_delegate/instancer.cpp
Labels: bug, houdini, render delegate, user

#762 Changing the capitalization of the render_context constant string
  common/constant_strings.h
Labels: render delegate

#770 Add CLAs
  CONTRIBUTING.md
  docs/cla/Arnold components for USD - Corp Contrib Agmt.docx
  docs/cla/Arnold components for USD - Corp Contrib Agmt.pdf
  docs/cla/Arnold components for USD - Ind Contrib Agmt.docx
  docs/cla/Arnold components for USD - Ind Contrib Agmt.pdf
Labels: docs

#769 Write custom primitives even when they already exist
  translator/writer/write_arnold_type.cpp
  translator/writer/write_geometry.cpp
Labels: bug, writer

#771 Fixing usd_imaging compilation issues when targeting 21.05. (#765)
  usd_imaging/CMakeLists.txt
  usd_imaging/shape_adapter.cpp
  usd_imaging/shape_adapter.h
  usd_imaging/usd_lux_light_filter_adapter.cpp
Labels: build, imaging
