Repository Autodesk/arnold-usd, pull requests merged in 2021-08, with the labels that each got.

#852 Configuring plugInfo.json files in the build directory
  SConstruct
Labels: bug, build

#855 Fixing the build of master using the latest Arnold release
  ndr/utils.cpp
Labels: bug, render delegate, build

#863 Cleaning up AiOutputIteratorGetNext changes
  common/constant_strings.h
  render_delegate/nodes/driver_aov.cpp
  render_delegate/nodes/driver_main.cpp
Labels: enhancement, render delegate

#859 Checking for visibility when syncing lights
  render_delegate/light.cpp
Labels: bug, render delegate

#867 Changing the fallback shader to standard surface.
  render_delegate/render_delegate.cpp
Labels: enhancement, render delegate

#865 Improving createSchemaFile python3 compatibility
  schemas/createSchemaFile.py
Labels: schema, build

#864 Validating facevarying indices of primvars.
  render_delegate/mesh.cpp
Labels: bug, render delegate

#872 Enforce writing multiple frames when no default is authored
  translator/writer/prim_writer.cpp
  translator/writer/writer.h
Labels: bug, writer
