Repository Autodesk/arnold-usd, pull requests merged in 2022-11, with the labels that each got.

#1342 Sdr node discovery results should be consistent across renderers
  ndr/discovery.cpp
Labels: bug

#1338 Support motion blur on skinned instances in Hydra
  render_delegate/CMakeLists.txt
  render_delegate/basis_curves.cpp
  render_delegate/mesh.cpp
  render_delegate/utils.cpp
  render_delegate/utils.h
  tools/utils/dependencies.py
Labels: enhancement, render delegate

#1350 Declare metadatas in Sdr registry
  common/constant_strings.h
  ndr/parser.cpp
  ndr/utils.cpp
Labels: enhancement, ndr

#1357 Add env variable for autoTX
  common/constant_strings.h
  render_delegate/config.cpp
  render_delegate/config.h
  render_delegate/render_delegate.cpp
Labels: render delegate, user
