Repository Autodesk/arnold-usd, pull requests merged in 2022-02, with the labels that each got.

#1013 Light linking referencing shape parents
  testsuite/test_0200/README
  testsuite/test_0201/README
  testsuite/test_0201/data/test.usda
  testsuite/test_0201/ref/reference.log
  testsuite/test_0201/ref/reference.tif
  translator/reader/reader.cpp
Labels: bug, user

#1025 Fix random result with instancer and multiple referenced files
  testsuite/test_0204/README
  testsuite/test_0204/data/cone.usda
  testsuite/test_0204/data/cube.usda
  testsuite/test_0204/data/scene.usda
  testsuite/test_0204/data/test.ass
  testsuite/test_0204/data/torus.usda
  testsuite/test_0204/ref/reference.log
  testsuite/test_0204/ref/reference.tif
  testsuite/test_0205/README
  testsuite/test_0205/data/cone.usda
  testsuite/test_0205/data/cube.usda
  testsuite/test_0205/data/scene.usda
  testsuite/test_0205/data/test.ass
  testsuite/test_0205/data/torus.usda
  testsuite/test_0205/ref/reference.log
  testsuite/test_0205/ref/reference.tif
  testsuite/test_0206/README
  testsuite/test_0206/data/model/TestShape.usd
  testsuite/test_0206/data/model/geo.usdc
  testsuite/test_0206/data/model/mtl.usdc
  testsuite/test_0206/data/model/payload.usdc
  testsuite/test_0206/data/model/variants/TestCube_Cube_A.usd
  testsuite/test_0206/data/model/variants/TestCube_Cube_B.usd
  testsuite/test_0206/data/model/variants/TestCube_Cube_C.usd
  testsuite/test_0206/data/model/variants/TestShape.usd
  testsuite/test_0206/data/model/variants/TestShape_Sphere_A.usd
  testsuite/test_0206/data/model/variants/TestShape_Torus_C.usd
  testsuite/test_0206/data/model/variants/TestShape_Tube_B.usd
  testsuite/test_0206/data/model/variants/geo.usdc
  testsuite/test_0206/data/model/variants/mtl.usdc
  testsuite/test_0206/data/model/variants/payload.usdc
  testsuite/test_0206/data/scene.usda
  testsuite/test_0206/data/test.ass
  testsuite/test_0206/ref/reference.log
  testsuite/test_0206/ref/reference.tif
  translator/reader/reader.cpp
  translator/reader/reader.h
Labels: procedural

#1031 Fix for element connection in arnold node graph
  render_delegate/node_graph.cpp
  render_delegate/render_delegate.cpp
Labels: render delegate

#1035 Propagate thread count to nested procedurals for instancing
  translator/reader/read_geometry.cpp
  translator/reader/reader.cpp
Labels: bug, procedural

#1040 Check python 2.7 and 3.7 folders for HtoA libraries
  render_delegate/volume.cpp
Labels: render delegate

#1048 Fix for rprim sync in HdArnoldNativeRprim::Sync
  render_delegate/native_rprim.cpp
Labels: render delegate
