Repository Autodesk/arnold-usd, pull requests merged in 2022-08, with the labels that each got.

#1236 Fix default render settings values set in the render delegate config
  render_delegate/config.cpp
Labels: render delegate, user

#1235 Use renderSettingsPrimPath metadata
  testsuite/test_1223/README
  testsuite/test_1223/data/test.usda
  testsuite/test_1223/ref/reference.tif
  translator/reader/reader.cpp
Labels: enhancement, procedural

#1248 Compute material assignments in the "full" purpose
  testsuite/test_1245/README
  testsuite/test_1245/data/test.usda
  testsuite/test_1245/ref/reference.log
  testsuite/test_1245/ref/reference.tif
  translator/reader/utils.cpp
Labels: enhancement, procedural

#1249 Fix adaptive sampling in the render delegate
  render_delegate/render_pass.cpp
Labels: bug, render delegate, user

#1260 Declare abort on error as a hydra render settings
  render_delegate/render_delegate.cpp
Labels: enhancement, render delegate

#1258 Strip outputs: prefix from output attribute in the registry
  ndr/parser.cpp
Labels: bug

#1279 Support visibility overrides on instances in the render delegate
  render_delegate/shape.cpp
Labels: bug, render delegate, user
